<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>
	<h:form>
		<p:panel header="Cadastro de Cliente">
			<p:messages autoUpdate="true" />
			<h:panelGrid id="grid" columns="1" cellpadding="5">

				<h:outputText value="Nome:" />
				<p:inputText id="nome" value="#{cadastroController.cadastro.nome}"
					required="true" label="Nome" requiredMessage="'Nome' é Obrigatorio" />



				<h:outputText value="Telefone:" />
				<p:inputText id="telefone"
					value="#{cadastroController.cadastro.telefone}" required="true"
					label="Telefone" requiredMessage="'Telefone' é Obrigatorio" />



				<h:outputText value="Endereço:" />
				<p:inputText id="endereco"
					value="#{cadastroController.cadastro.endereco}" required="true"
					label="Endereco" requiredMessage="'Endereço' é Obrigatorio" />

				<h:outputText value="Email" />
				<p:inputText id="email" value="#{cadastroController.cadastro.email}"
					required="true" label="Email"
					requiredMessage="'Email' é Obrigatorio" />

				<h:outputText value="Senha" />
				<p:password id="feedback"
					value="#{cadastroController.cadastro.senha}" feedback="true"
					required="true" label="Senha"
					requiredMessage="'Senha' é Obrigatorio" />
				<br />

			</h:panelGrid>
			<p:commandButton value="Cadastrar"
				action="#{cadastroController.gravarUsuario()}"  />
				
		</p:panel>
	</h:form>
</h:body>

</html>