<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Caixa</title>
</h:head>
<h:body>
	<h:form>
		<!-- 		<h:outputLabel value="Depositar" /> -->
		<p:inputText value="#{contaController.vlrDeposito}" />
		<p:commandButton action="#{contaController.depositaConta()}"
			value="Depositar" />
		<br />
		<!-- 		<h:outputLabel value="Sacar" /> -->
		<p:inputText value="#{contaController.vlrSaque}" />
		<p:commandButton action="#{contaController.saqueConta()}"
			value="Sacar" />
		<br />
		<!-- 		<h:outputLabel value="Transferencia" /> -->
				<p:inputText value="#{contaController.vlrTransferencia}" />
		<p:inputText value="#{cadastroController.cadastro.id}" />
		<p:commandButton value="#{contaController.transferenciaConta()}" />
	</h:form>
</h:body>
</html>